<%- include('partials/header'); %>

<h1><%= title %></h1>
<p><%= content.mainText %></p>
<div style="width: 95%; margin: auto">
    <% (content.array).forEach(element => { %>
        <h2><%= element.title %></h2>
        <div style="
            display: flex;
        ">
        <!-- 
            Truncated using CSS

            max-width: 950px; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        -->
            <p style="
                margin-right: 5px;
            ">
            <!-- Truncated using JS -->
                <%= (element.text).substring(0, 100) + "..." %>
            </p>
            <% if((element.title).includes(" ")) { %>
                <% const newTitle = (element.title).split(" ") %>  
                <a href=<%=`/post/${newTitle[0]}-${newTitle[1]}`%> > 
                    <% } else { %>
                        <a href=<%=`/post/${element.title}`%> >
                    <% } %> 
                    read more
                </a>
            </div>
    <% }); %>
</div>
<!--  -->
<%- include('partials/footer'); %>